extends base

block content
    main.main
        .admin-container
            h1 Manage Bookings
            p Create, update, or delete bookings.

            if booking
                // Form for adding or editing a booking
                form#booking-form
                    input(type="hidden" id="bookingId" name="bookingId")

                    .form-group
                        label(for="tour") Tour:
                        select#tour(name="tour" required)
                            if bookings.length
                                each t in bookings
                                    option(value=t.tour._id selected=booking && booking.tour && booking.tour._id === t.tour._id)= t.tour.name
                            else
                                option(disabled selected) No tours available

                    .form-group
                        label(for="user") User:
                        select#user(name="user" required)
                            if bookings.length
                                each u in bookings
                                    option(value=u.user._id selected=booking && booking.user && booking.user._id === u.user._id)= u.user.name
                            else
                                option(disabled selected) No users available

            hr

            // Table to display all bookings
            h2 Existing Bookings
            table
                thead
                    tr
                        th Tour
                        th User
                        th Price
                        th Start Date
                        th Paid
                        th Actions
                tbody
                    each booking in bookings
                        tr
                            td.name-column= booking.tour ? booking.tour.name : 'Unknown Tour'
                            td= booking.user ? booking.user.name : 'Unknown User'
                            td= booking.price
                            td= booking.formattedStartDates
                            td= booking.paid ? 'Yes' : 'No'
                            td
                                button.edit-btn.editBooking-btn(data-id=booking._id data-price=booking.price data-paid=booking.paid) Edit
                                button.delete-btn.deleteBooking-btn(data-id=booking._id) Delete


    // Popup for Editing User
    #popup.popup.hidden
        .popup-content
            h2 Edit Bookings
            form#bookings-form
                input(type="hidden" id="popup-userId" name="userId")

                .form-group
                    label(for="name") Price:
                    input#popup-price(type="text" name="price")

                .form-group
                    label(for="paid") Paid:
                    select#popup-paid(name="paid" required)
                        option(value="Yes") Yes
                        option(value="No") No

                button(type="submit").admin-btn#update-booking Update Booking
                button.popup-close(type="button") Close
