extends base

block content
    main.main
        .reviews-container
            if reviews.length > 0
                each review in reviews
                    .review-card
                        .review-header
                            img.review-img(src=`/img/tours/${review.tour.imageCover}`, alt=`${review.tour.name}`)
                            h3.review-tour-name= review.tour.name
                        .review-body
                            p.review-text= review.review
                            p.review-rating
                                span= `Rating: ${review.rating} ⭐`
            else
                .no-data
                    h2 No Reviews Available
                    p You haven't submitted any reviews yet.
